a(href="chat.html" class="d-flex align-items-normal cg-4 p-3 shadow-sm")
  img(src=chat.avatar alt=chat.name class="avatar")
  div(class="flex-grow-1 text-hidden")
    div(class="d-flex")
      div(class="bold color-dark")= chat.name
      div(class="small color-secondary")= chat.time
    span(class="small lh-19 color-secondary")= chat.message